# 源码目录（太大，不推送）
/spark-source/
/hive-source/

# IDE and tool files
.codebuddy/
.idea/
*.iml
.DS_Store
spark/案例/k8s-vs-yarn-performance/k8s-new/
spark/案例/k8s-vs-yarn-performance/yarn/
spark/案例/k8s-vs-yarn-performance/k8s-logs/
*.log
